# Python environment
eleven

# Cache
__pycache__/

# Environment
.env

#Dependencies
node_modules/


.DS_STORE

data/

*.zip

# Python environment
eleven

# Cache
__pycache__/

# Environment
.env

#Dependencies
node_modules/


markitdown/